*
  broder: 1px solid red

table
  margin: auto
  border-collapse: collapse

  td, th
    padding: 0 1rex

  thead
    td, th
      &[colspan]
        border: 1px solid #0004
        border-block-start: none

      &[rowspan]
        border: 1px solid #0004
        border-block-start: none

  tbody
    th
      text-align: end

      &[colspan]
        border: 1px solid #0004
        border-inline-start: none

      &[rowspan]
        border: 1px solid #0004
        border-inline-start: none
